@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: rgb(93, 93, 226);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;    
    background-color: var(--primary-color);
}

header {
    text-align: center;
    padding: 32px;
    width: 100%;
    background-color: white;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    position: relative;
    text-decoration: none;
    color: #777;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}


.links a::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -4px;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
}

.links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

/*==== CARD ====*/

.card {
    background-color: white;
    width: 100%;
    max-width: 800px;
    min-height: 400px;
    margin: 45px auto;

    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);

    animation: up 300ms ease-in-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    } to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    padding: 16px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.details .item:last-child {
    border: none;
}

.details .item div:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.details h3, 
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item div:nth-child(2) span {
    padding: 8px 16px;
    border-radius: 16px;
    margin-right: 4px;
    margin-top: 8px;
    color: #777;
    background-color: #ebd577;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

/* FORM */

form select,
form input {
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

form input[type=radio] {
    width: initial;
    margin-right: 16px;
    vertical-align: middle;
}

form input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

form button[type=submit],
a.button {
    padding: 16px 32px;
    background-color: var(--primary-color);
    border-radius: 4px;
    width: 100%;
    color: white;
    margin-top: 32px;
    font-size: 16px;
    font-weight: bold;
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
}